html{
    font-size: 62.5%;
}
:root{
    --color-primery: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
    --color-border: #ccc;
    --border-radius: 30px;
    --color-body-darker: #5c5577;
}
*,
*::after,
*::before{
    box-sizing: border-box;
}

/*typography*/

::selection{
    background: var(--color-primery);
    color: #fff;
}

body{
    font-family: Inter, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--color-body);
    font-size: 2.4rem;
    line-height: 1.5;
}
h1, h2, h3{
    color: var(--color-headings);
    margin-bottom: 1rem;
    line-height: 1.1;
}
h1{
    font-size: 7rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
    font-weight: 500;
}
p{
    margin-top: 0;
}
@media screen and (min-width: 1024px) {
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 8rem;
    }
    
    h2{
        font-size: 4;
    }

    h1{
        font-size: 2.4;
    }
}
/*links*/
a{
    text-decoration: none;
}
.link-arrow:hover::after{
  margin-left: 10px
}
.link-arrow::after{
    content: '-->';
    transition: margin 0.15s;
}
.link-arrow{
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 5px;
}

@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.5rem;
    } 
}

/*badges*/

.badge{
    border-radius: 50px;
    padding: 0.5rem 2rem;
    font-weight: bold;
    white-space: nowrap;
}

.badge--primary{
    background-color: var(--color-primery);
    color: #ffff;
}
.badge--secondary{
    background-color: var(--color-secondary);
    color: #ffff;
}
.badge--small{
    font-size: 1.6rem;
    padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
    .badge{
        font-size: 1.5rem;
    }
    .badge--small{
        font-size: 1.2rem;
    }
}
/*lists*/
.list{
    list-style: none;
    padding-left: 0;
}
.list--inline .list__item {
 display: inline-block;
 margin-right: 3rem;
}
.list--tick{
    list-style-image: url(/moshify/images/tick.svg);
    padding-left: 3rem;
    color: var(--color-headings);
}
.list--tick .list__item{
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}
@media screen and (min-width: 1024px) {
    .list--tick .list__item{
        padding-left: 0;
    }
    
}
/*icons*/
.icon{
   width: 40px;
   height: 40px;
}
.icon--primary{
    fill: var(--color-primery);
}
.icon-container{
    width: 64px;
    height: 64px;
    border-radius: 100%;
    background-color: #f3f9fa;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.icon-container--accent{
    background-color: var(--color-accent);
}
.icon--white{
    fill: #ffff;
}

.icon--small{
    width: 30px;
    height: 30px;
}
/*buttons*/

.btn{
    font-size: 1.8rem;
    padding: 2rem 3rem;
    text-transform: uppercase;
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    margin: 1rem 0;
    outline: 0;
}

.btn .icon{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    vertical-align: middle;
}

.btn--primary{
    background-color: var(--color-primery);
    color: #ffff;
}

.btn--primary:hover{
    background-color: #3a8ffd;
}

.btn--secondary{
    background-color: var(--color-secondary);
    color: #ffff;
}

.btn--streched{
    padding-left: 6rem;
    padding-right: 6rem;
}
.btn--secondary:hover{
    background-color: #00c8eb;
}

.btn--accent{
    background-color: var(--color-accent);
    color: #ffff;
}

.btn--accent:hover{
    background-color: #fd4516;
}

.btn--block{
    width: 100%;
    display: inline-block;

}

.btn--outline{
    background-color: #ffff;
    color: var(--color-headings);
    border: 2px solid var(--color-headings);
}

.btn--outline:hover{
    background-color: var(--color-headings);
    color: #ffff;
}
@media screen and (min-width: 1024px) {
    .btn{
        font-size: 1.5rem;
    }
}

/*inputs*/
.input{
    padding: 1.5rem 3.5rem;
    border: 0;
    border-radius: var(--border-radius);
    outline: 0;
    font-size: 2rem;
    color: var(--color-headings);
    border: 1px solid var(--color-border);
}

::placeholder{
    color: #cdcbd7;
}
.input-group{
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    display: flex;
}

.input-group .input{
    flex-grow: 1;
    border: 0;
    padding: 1.5rem 2rem;
}

.input-group .btn{
    margin: 4px;
}
@media screen and (min-width: 1024px) {
    input{
        font-size: 1.5rem;
    }
    
}

/*cards*/

.card{
    border-radius: 10px;
    box-shadow: 0 0 20px 10px #f3f3f3;
    overflow: visible;
}
.card__header, .card__body{
    padding: 2rem 3rem;
}
.card--primary .card__header{
    background-color: var(--color-primery);
    color: #ffff;
}
.card--secondary .card__header{
    background-color: var(--color-secondary);
    color: #ffff;
}
.card__header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/*plans*/

.plan{
    transition: transform 0.2s ease-out;
}
.plan__name{
    color: #ffff;
    margin: 0;
    font-size: 2.4rem;
}
.plan__price{
    font-size: 6rem;
}
.plan__billing-cycle{
    font-size: 2.4rem;
    opacity: 0.8;
    margin-right: 1rem;
}

.card--secondary .badge--secondary{
    background-color: #02cdf1;
}
.card--primary .badge--primary{
    background-color: #126de4;
}
.plan--popular{
    transform: scale(1.1);
}
.plan__description{
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 1px;
    display: block;
}
.plan .list__item{
    letter-spacing: 0.5px;
    margin-bottom: 2rem;
}
.plan--popular .card__header{
    position: relative;
}
.plan--popular .card__header::before{
    content: url(../images/popular.svg);
    width: 40px;
    display: inline-block;
    position: absolute;
    top: -6px;
    right: 5%;
}
.plan:hover{
  transform: scale(1.05);
}
.plan--popular:hover{
    transform: scale(1.15);
  }
@media screen and (min-width: 1024px) {
    .plan__name{
        font-size: 1.4rem;
    }
    .plan__price{
        font-size: 5rem;
    }
    .plan__billing-cycle{
        font-size: 1.6rem;
    }
}
.media{
    display: flex;
    margin-bottom: 4rem;
}
.media__title{
    margin-top: 0;
}
.media__body{
    margin: 0 2rem;
}
.media__image{
    margin-top: 1rem;
}

/*quote*/

.quote{
    font-style: italic;
    color: var(--color-body-darker);
    font-size: 3rem;
    line-height: 3.5rem;
}

.quote__text::before{
content: open-quote;
}

.quote__text::after{
    content: close-quote;
}
.quote__author{
    font-style: normal;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 0;
}

.quote__line{
    position: relative;
    bottom: 10px;
}

.quote__organization{
    color: var(--color-headings);
    opacity: 0.4;
    font-size: 2rem;
    font-style: normal;
}
@media screen and (min-width: 1024px) {
    .quote{
        font-size: 2rem;
        line-height: 2.rem;
    }
    .quote__author{
        font-size: 2.4;
    }
    .quote__organization{
        font-size: 1.6rem;
    }
}

/*grids*/

.grid{
    display: grid;
}
@media screen and (min-width:768px) {
    .grid--1x2{
      grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:1024px) {
    .grid--1x3{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/*testimonail*/

.testimonial{
    padding: 2rem;
}
.testimonial__image img{
    width: 100%;
}

.testimonial__image{
    position: relative;
}

.testimonial__image .icon-container{
    position: absolute;
    top: 3rem;
    right: -3.2rem;
}

@media screen and (min-width: 768px) {
    .testimonial .quote,
    .testimonial .quote__author{
        font-size: 2rem;
    }
    .testimonial .quote{
        margin-left: 6rem;
    }
}

/*Callouts*/
.callout{
    padding: 4rem;
    border-radius: 5px;
}

.callout--primary{
    background: var(--color-primery);
    color: #ffff;
}

.callout__heading{
    color: #ffff;
    margin-top: 0;
    font-size: 3rem;
}

.callout .btn{
    align-self: center;
    justify-self: center;
}

.callout__content{
    text-align: center;
}

@media screen and (min-width:768px) {
    .callout__content{
        text-align: left;
    }
    .callout .grid--1x2{
        grid-template-columns: 1fr auto;
    }
    .callout .btn{
        justify-self: start;
        margin: 0 2rem;
    }
}

/*collapsibles*/

.collapsible__header{
    display: flex;
    justify-content: space-between;
}

.collapsible__heading{
    margin-top: 0;
    font-size: 3rem;
}

.collapsible__chevron{
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.collapsible__content{
   max-height: 0;
   overflow: hidden;
   opacity: 0;
   transition: all 0.3s;
}
.collapsible--expanded .collapsible__chevron{
    transform: rotate(0);
}
.collapsible--expanded .collapsible__content{
    max-height: 100vh;
    opacity: 1;
}

/*blocks*/

.block{
    --padding-vertical: 6rem;
    padding: var(--padding-vertical) 2rem;
}
.block__header{
    text-align: center;
    margin-bottom: 2rem;
}
.block__heading{
    margin-top: 0;
}
.block--dark{
    background: #000000;
    color: #7b858b;
}
.block--dark h1,
.block--dark h2,
.block--dark h3{
    color: #ffff;
}

.block--skewed-right{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
    padding-bottom: calc(var(--padding-vertical) + 4rem);
}
.block--skewed-left{
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
    padding-bottom: calc(var(--padding-vertical) + 4rem);
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}



/*heros*/
.hero{
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}
.hero__tagline{
    font-size: 2rem;
    color: #b9c3cf;
    letter-spacing: 1px;
    margin: 2rem 0 5rem;
}

.hero__image{
    width: 100%;
}

@media screen and (min-width: 768px) {
    .hero{
        padding-top: 0;
    }
    .hero__content{
        text-align: left;
        align-self: center;
    }
}
/*block Domain*/

.block-domain .input-group{
  box-shadow: 0 0 30px 20px #e6ebee;
  border: 0;
  margin: 4rem auto;
  max-width: 670px;
}
.block-domain__prices{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 6rem);
    font-size: 2rem;
    font-weight: 600;
    justify-items: center;
    max-width: 700px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .block-domain__prices{
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
    
}

/*plans block*/

.block-plan .grid{
    gap: 8rem 4rem;
}

.block-plan .card{
    max-width: 500px;
    margin: 0 auto;
}

/* navigation bar*/
.nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1rem;
    align-items: center;
}

.nav__list{
   width: 100%;
   margin: 0;
}

.nav__item{
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #222;
}

.nav__item a{
    color: #d2d0db;
    transition: all 0.3s;
}
.nav__item a:hover{
    color: #fff;
}

.nav__toggler{
    opacity: 0.5;
    transition: box-shadow 0.15s;
    cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler{
    opacity: 1;
    box-shadow: 0 0 0 3px #666;
    border-radius: 5px;
}

@media screen and (min-width: 768px) {
    .nav__toggler{
        display: none;
    }
    .nav__list{
        width: auto;
        display: flex;
        font-size: 1.6rem;
        max-height: 100%;
        opacity: 1;
    }
    .nav__item{
        border: 0;
    }
    
}

/*features block*/
.feature__heading{
    margin: 1rem 2rem;
}
.feature{
    gap: 4rem;
    margin: 6rem 0;
}
.feature__img{
    width: 100%;
}
.feature:first-of-type{
    margin: 3rem;
}
@media screen and (min-width:768px) {
 .feature:nth-last-of-type(even) .feature__content{
    order: 2;
 }
}

/*showcase block*/
.block-showcase__img{
    width: 100%;
}

@media screen and (min-width:768px) {
    .block-showcase .grid{
        grid-template-columns: 50% 50%;
    }
    .block-showcase__img{
        width: auto;
        max-width: 700px;
        justify-self: end;
    }
}
/*footer*/
.footer{
    background-color: #232323;
}
.footer__section{
    padding: 2rem;
    border-bottom: 1px solid #393939;
}
.footer__heading{
    text-transform: uppercase;
    font-weight: 600;
}

.footer__brand{
    margin-top: 5rem;
    text-align: center;
}
.footer__brand img{
    width: 100%;
    max-width: 230px;
}
.footer__copyright{
    font-size: 2.1rem;
    color: #fff;
    opacity: 0.3;
}

@media screen and (min-width: 768px) {
    .footer__sections{
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
    .footer .collapsible__chevron{
        display: none;
    }
    .footer .collapsible__content{
        opacity: 1;
        max-height: 100%;
    }
    .footer__brand{
       order: -1;
       margin-top: 1rem;
    }
    .footer__copyright{
        font-size: 1.5rem;
    }
    .footer__section{
        border: 0;
    }
    .footer__heading{
        font-size: 1.6rem;
    }
}