<div class="callout callout--primary">
    <div class="grid grid--1x2">
        <div class="callout__content">
            <h2 class="callout__heading">Ready to get started?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique culpa illo labore nam odio dolores dolor officia libero cumque, fugit consectetur assumenda illum enim in fuga accusamus possimus. Veniam, repellat!

            </p>
        </div>
        <a href="#" class="btn btn--secondary btn--streched">GET STARTED!</a>
    </div>
  </div>