<section class="block block--dark block--skewed-right block-showcase">
    <header class="block__header">
        <h2>user friendly control panell</h2>
    </header>
    <div class="container grid grid--1x2">
        <img class="block-showcase__img" src="images/ipad@1x.png" alt="">
        <ul class="list">
            <li><div class="media">
                <div class="media__image">
                <svg class="icon icon--primary">
                <use xlink:href="images/sprite (2).svg#wordpress"></use>
                </svg>
                </div>
                <div class="media__body">
                    <h3 class="media__title">Easy start & And Managed Updates</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi mollitia voluptatum qui nam exercitationem iste.
                    </p>
                </div>
            </div></li>
            <li><div class="media">
                <div class="media__image">
                <svg class="icon icon--primary">
                <use xlink:href="images/sprite (2).svg#wordpress"></use>
                </svg>
                </div>
                <div class="media__body">
                    <h3 class="media__title">Easy start & And Managed Updates</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi mollitia voluptatum qui nam exercitationem iste.
                    </p>
                </div>
            </div></li>
            <li><div class="media">
                <div class="media__image">
                <svg class="icon icon--primary">
                <use xlink:href="images/sprite (2).svg#wordpress"></use>
                </svg>
                </div>
                <div class="media__body">
                    <h3 class="media__title">Easy start & And Managed Updates</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi mollitia voluptatum qui nam exercitationem iste.
                    </p>
                </div>
            </div></li>
        </ul>
    </div>
  </section>