<section class="block container">
    <header class="block__header">
        <h2>Host On the Cloud To Keep Growing</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, illum.</p>
    </header>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
         <svg class="icon icon--primary">
             <use xlink:href="images/sprite (2).svg#easy"></use>
           </svg>
           <h3 class="feature__heading">super Easy To Use</h3>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint officiis dicta debitis deserunt alias non commodi quo ab, esse repellat!
           </p>
           <a href="#" class="link-arrow">Learn More</a>
      </div>
      <picture>
         <source type="image/webp" srcset="/moshify/images/easy.webp 1x, /moshify/images/easy@2.webp 2x">
         <source type="image/jpg" srcset="/moshify/images/easy.jpg 1x, /moshify/images/easy@2.jpg 2x">
         <img class="feature__img" src="/moshify/images/easy@2.jpg" alt=""></picture>
    </article>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
         <svg class="icon icon--primary">
             <use xlink:href="images/sprite (2).svg#computer"></use>
           </svg>
           <h3 class="feature__heading">Simply fast Websites</h3>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint officiis dicta debitis deserunt alias non commodi quo ab, esse repellat!
           </p>
           <a href="#" class="link-arrow">Learn More</a>
      </div>
         <img class="feature__img" src="/moshify/images/fast.jpg" alt=""></picture>
        </article>
    </article>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
         <svg class="icon icon--primary">
             <use xlink:href="images/sprite (2).svg#wordpress"></use>
           </svg>
           <h3 class="feature__heading">wordpress made easy</h3>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint officiis dicta debitis deserunt alias non commodi quo ab, esse repellat!
           </p>
           <a href="#" class="link-arrow">Learn More</a>
      </div>
         <img class="feature__img" src="/moshify/images/wordpress.jpg" alt=""></picture>
        </article>
</section>